name: Release

on:
  push:
    branches: [ "1.20.1/main" ]

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests

    env:
      # use github-actions[bot] user for semantic-release
      GIT_AUTHOR_NAME: github-actions[bot]
      GIT_AUTHOR_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
      GIT_COMMITTER_NAME: github-actions[bot]
      GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com

    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Run semantic-release
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release@24

      - name: Upload to Modrinth & CurseForge (Fabric)
        if: steps.semantic-release.outputs.new-release-published == 'true'
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ vars.MODRINTH_ID }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: ${{ vars.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: fabric/build/libs/!(*-@(dev-shadow|sources)).jar

          name: "[Fabric] Golem Overhaul ${{ steps.semantic-release.outputs.new-release-version }}"
          version: ${{ steps.semantic-release.outputs.new-release-version }}
          version-type: release
          changelog-file: CHANGELOG.md

      - name: Upload to Modrinth & CurseForge (Forge)
        if: steps.semantic-release.outputs.new-release-published == 'true'
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ vars.MODRINTH_ID }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: ${{ vars.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: forge/build/libs/!(*-@(dev-shadow|sources)).jar

          name: "[Forge] Golem Overhaul ${{ steps.semantic-release.outputs.new-release-version }}"
          version: ${{ steps.semantic-release.outputs.new-release-version }}
          version-type: release
          changelog-file: CHANGELOG.md

          loaders: |
            forge
            neoforge